node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
.git
**/.git
.env
**/.env
.env.*
**/.env.*
docs
.DS_Store
**/.DS_Store
npm-debug.log*
coverage
**/coverage
out
**/out
.vercel
**/.vercel
*.tsbuildinfo
next-env.d.ts
