@theme {
  --color-brand-50: #f0fbfa;
  --color-brand-100: #d5f5f1;
  --color-brand-200: #aeeae4;
  --color-brand-300: #7fd9d2;
  --color-brand-400: #4fc0ba;
  --color-brand-500: #35a5a0;
  --color-brand-600: #288685;
  --color-brand-700: #256c6c;
  --color-brand-800: #215757;
  --color-brand-900: #1f4949;
  --color-brand-950: #0d2a2b;
}
